{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
    
{% block main %}
    <form action="/" method="get">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control text-center mx-auto w-50" name="query" id="query-main"
            placeholder="For breakfast I ordered 2 eggs, 1 tomato and 50 grams of bacon." type="text"
            {% if query %}value="{{query}}"{% endif %}/>
        </div>
        <button class="btn btn-outline-success mb-3" type="submit">Get Nutrition</button>
    </form>
    {% if data %}
        <div class="table-responsive">
            <table class="table table-hover text-nowrap text-success">
                <thead>
                    <tr>
                        <th>Name</th><th>Serving size</th><th>Calories</th><th>Total fat</th>
                        <th>Saturated fat</th><th>Cholesterol</th><th>Sodium</th><th>Carbohydrates</th>
                        <th>Fiber</th><th>Sugars</th><th>Protein</th><th>Potassium</th><th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td name="food_name">{{ item["name"] }}</td><td name="">{{ item["serving_size_g"]|round(1) }} g</td><td name="">{{ item["calories"] }}</td>
                            <td name="">{{ item["fat_total_g"] }} g</td><td name="">{{ item["fat_saturated_g"] }} g</td><td name="">{{ item["cholesterol_mg"] }} mg</td>
                            <td name="">{{ item["sodium_mg"] }} mg</td><td name="">{{ item["carbohydrates_total_g"] }} g</td><td name="">{{ item["fiber_g"] }} g</td>
                            <td name="">{{ item["sugar_g"] }} g</td><td name="">{{ item["protein_g"] }} g</td><td name="">{{ item["potassium_mg"] }} mg</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

